body, html {
    height: 100%;
}

body { 
    background-image: url("background.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}     

.content {
    background: rgba(255, 255, 255, 0.8);
    padding-top: 1em;
    box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.9);
}

.team-logo {
    height: 1.5em;
}

.match {
    background: rgba(255,255,255,0.8);
}

.list-group {
    padding-left: 1em;
}