body, html {
    height: 100%;
}

body { 
    background-image: url("background.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}     

.content {
    padding-top: 1em;
    box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.8);
}

main {
    background: rgba(255, 255, 255, 1);
    height: 100%
}

.match-result {
    box-shadow: inset 0 -1em 1em 0 rgba(0,0,0,0.3);
    padding: 0.1em;
    border-radius: 0.3em;
}

.team {
    white-space: nowrap;
}

.team-logo {
    height: 1.5em;
}

.match, .winner {
    background: rgba(255,255,255,0.8);
    margin-bottom: 1em;
    border-radius: 0.5rem;
    box-shadow: 0 0 2px 2px rgba(0,0,0,.4);
    padding: 0.5em;
}

.winner {
    display: inline-block;
    box-shadow: inset 0 -5em 5em 0 rgba(0,0,0,0.3);
}

.match hr {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.match > .row {
    margin-left: 0;
    margin-right: 0;
}

.list-group {
    padding-left: 1em;
}

.fa-trophy{
    color: #ffbd00;
}

.form-control, .input-group {
    width: 200px;
}
